<div class="row">
    <div class="col-md-9"><h2>{{model.name}}</h2><p>{{model.description}}</p></div>
    <div class="col-md-2 pull-right">
        <div class="btn-group">
            <button type="button" class="btn btn-warning" {{action 'cancel'}}>Cancel</button>
            <button type="button" class="btn btn-success" {{action 'save'}}>Save</button>
        </div>
    </div>
     <div class="col-md-12" id="editor">
        {{ace-editor 
						text=responseBody 
						mode=aceMode 
						typeAheadSuggestions=suggestions 
                        nodeList=stateNames
						typeAheadAction="setTypeAheadList"  
						onChangeAction="responseUpdated"  
						suggestionClicked=suggestion}}
    </div>
</div>
