<div class="row">
	<div class="col-md-6">
		<h2 style="color:green">Your API Vocabulary</h2>
		<ul id='vocab-list'>					
		{{#each controller itemController="project.word"}}
			<li>
			{{#if isEditing}}
				{{autofocus-text select="true" class="edit" type="text" value=value focus-out="saveWord" insert-newline="saveWord"}}
    			{{else}}
				<label {{action "editWord" on="click"}}>{{value}}</label>
			{{/if}}
			</li>
		{{/each}}
		</ul>
		{{input type="text" id="new-vocab" value=newVocab action="createVocab" placeholder='new word'}}
	</div>
	<div class="col-md-6">
		<h4>List all of the words that will be significant for the users of your API.</h4>
		<p>These might be words used in the URL, in the body or in the request parameters.</p>
		<div>{{#link-to 'alps'}}Manage ALPS Vocabularies...{{/link-to}}</div>
	</div>
</div>

