<div class="modal-dialog">
    <div class="modal-content panel">
      <div class="modal-header panel-heading">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        {{#if wizard_root}}
        <h4 class="modal-title">Create a New Response Node</h4>
        {{else}}
        <h2>{{nodeName}}</h2>
        <h5>{{wizardTitle}}</h5>
        {{/if}}
      </div>

{{#if wizard_root}}
<div class="modal-body">
    <div class="form-group">
        <label>Name: </label>
        {{twitter-typeahead data=words type='text' class='form-control' placeholder='What is the name of your new node?' value=newNodeName}}
    </div>
    <div class="form-group">
        <label>Content-Type: </label>
        {{twitter-typeahead data=contentTypes type='text' class='form-control' placeholder='What ?' value=newNodeContentType}}
    </div>
    {{#if knownContentType}}
    <div class="alert alert-info" role="alert">{{knownContentTypeHelp}}</div>
    {{/if}}
    <div class="form-group">
        <label style="color:#959595">URI: </label>
        <input class="form-control" readonly type="text" placeholder="URI is generated based on the name attribute" value={{newNodeURI}}>
    </div>
</div>
<div class="modal-footer">
    <div class="form-group">
        <button type="button" class="btn btn-primary" {{action 'createNewNode'}}>Create</button>
    </div>
 </div>
{{/if}}

{{#if wizard_start}}
<div class="modal-body">
    <p>What kind of link are you trying to create?</p>
</div>
<div class="modal-footer">
    <div class="form-group">
        <button type="button" class="btn btn-primary" {{action 'createItem'}}>Add a Child Item</button>
        <button type="button" class="btn btn-primary" {{action 'createLink'}}>Add a Link</button>
        <button type="button" class="btn btn-primary" {{action 'createQuery'}}>Add a Query</button>
        <button type="button" class="btn btn-primary" {{action 'createTemplate'}}>Add a Template</button>
    </div>
 </div>
{{/if}}

{{#if wizard_createItem }}
 <div class="modal-body">
    <div class="form-group">
        <label>Item Name: </label>
        {{twitter-typeahead data=words type='text' class='form-control' placeholder='What is the name of your new item?' value=newNodeName}}
    </div>
</div>
<div class="modal-footer">
    <div class="form-group">
        <button type="button" class="btn btn-primary" {{action 'createItem_finish'}}>Create</button>
    </div>
</div>
{{/if}}

{{#if wizard_createLink }}
 <div class="modal-body">
    <div>In Collection+JSON links can be placed at the collection level or at the item level.  The location of the link lets the client application know [blah blah explanation].</div>
    <div>Where would you like to place the link?</div>
        <div>
        {{view Ember.Select 
            class="form-control" 
            content=linkLocationList
            optionValuePath="content.index"
            optionLabelPath="content.name"
            style="max-width: 10.0em"							
            value=link_location}}							  
        </div>

</div>
<div class="modal-footer">
    <div class="form-group">
        <button type="button" class="btn btn-primary" {{action 'previous'}}>Previous</button>
        <button type="button" class="btn btn-primary" {{action 'defineLink'}}>Next</button>
    </div>
</div>
{{/if}}


{{#if wizard_defineLink }}
<div class="modal-body">
  <div {{bind-attr class=":form-group link_url_class"}}>
      <label>href:</label>
      {{twitter-typeahead data=nodeNames class="form-control" placeholder="target url" value=link_url}}
  </div>
  <!--
  <div class="alert alert-danger" role="alert">{{link_url}} does not point to a node in this sketch.</div> 
  -->
      <div class="help-block">Use the syntax <b>$(<i>name</i>)</b> to point to an node in this sketch.</div>
  <div {{bind-attr class=":form-group link_rel_class"}}>
      <label>rel</label>
      {{input class="form-control" placeholder="rel" value=link_rel}}
  </div>
  <div class="form-group">
      <label>name</label>
      {{input class="form-control" placeholder="name" value=link_name}}
  </div>
  <div class="form-group">
      <label>render</label>
      {{input class="form-control" placeholder="render" value=link_render}}
  </div>
  <div class="form-group">
      <label>prompt</label>
      {{input class="form-control" placeholder="prompt" value=link_prompt}}
  </div>
</div>
<div class="modal-footer">
    <div class="form-group">
        <button type="button" class="btn btn-primary" {{bind-attr disabled=isLinkBad}} {{action 'createLink_finish'}}>Create</button>
    </div>
</div>
    {{/if}}

{{#if wizard_createQuery }}
 <div class="modal-body">
<div {{bind-attr class=":form-group link_url_class"}}>
      <label>href:</label>
      {{twitter-typeahead data=nodeNames class="form-control" placeholder="target url" value=link_url}}
  </div>
  <!--
  <div class="alert alert-danger" role="alert">{{link_url}} does not point to a node in this sketch.</div> 
  -->
      <div class="help-block">Use the syntax <b>$(<i>name</i>)</b> to point to an node in this sketch.</div>
  <div {{bind-attr class=":form-group link_rel_class"}}>
      <label>rel</label>
      {{input class="form-control" placeholder="rel" value=link_rel}}
  </div>
  <div class="form-group">
      <label>name</label>
      {{input class="form-control" placeholder="name" value=link_name}}
  </div>
  <div class="form-group">
      <label>prompt</label>
      {{input class="form-control" placeholder="prompt" value=link_prompt}}
  </div>
</div>
<div class="modal-footer">
    <div class="form-group">
        <button type="button" class="btn btn-primary" {{bind-attr disabled=isLinkBad}}  {{action 'createQuery_finish'}}>Create</button>
    </div>
</div>

{{/if}}

</div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
