<div class="row">
	<div class="col-md-12">
		<div class="row">
			<div class="col-md-12">{{#each resource in model}}{{resource.name}},{{/each}}
				<form>						
					{{#if isDirty}}
					<div class="form-group">						
						{{twitter-typeahead readonly=true data=locatorTypeAhead class="form-control readonly" type="text" value=locator  style="width:100%"}}
					</div>
					{{else}}												
						<div {{bindAttr class="locatorDivClass"}}>							
						{{twitter-typeahead data=locatorTypeAhead class="form-control" type="text" value=locator focus-out="navigate"
                           insert-newline="navigate"}}
						</div>
					{{/if}}
				</form>
												
			</div>
		</div>		
	
	</div>
</div>
{{outlet}}
