<div class="row">
    <div class="col-md-9"><h2>{{model.name}}</h2><p>{{model.description}}</p></div>
    <div class="col-md-2 pull-right">
        {{#if isDirty}}
        <div class="btn-group">
            <button type="button" class="btn btn-warning" {{action 'cancel'}}>Cancel</button>
            <button type="button" class="btn btn-success" {{action 'save'}}>Save</button>
        </div>
        {{/if}}
    </div>
</div>
<div>{{#each suggestions}}{{this.id}}{{/each}}</div>
<div class="row">   
    <div class="col-md-10">
        <div class="row">
            <div class="col-md-12" style="background-color: #157C2A">
                <span>{{controllers.project.contentType}} </span><span>Valid.</span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12" id="editor">
        {{ace-editor 
						text=responseBody 
						mode=aceMode 
						typeAheadSuggestions=suggestions 
                        nodeList=stateNames
						typeAheadAction="setTypeAheadList"  
						onChangeAction="responseUpdated"  
						suggestionClicked=suggestion}}
            </div>
        </div>
    </div>
    <div class="col-md-2">
        <div><h3>Outbound Links</h3></div>
       {{#each outboundLinks}}
       <div>{{#link-to href id}}{{name}}{{/link-to}}</div>
       {{/each}}
    </div>
</div>
        
